<!DOCTYPE html>
<html>
  <head>
    <title><%= app.dashboard_name %> - <%= t.pages.admin_portal %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <%- include('../inc/admin-navbar.ejs') %>
    <div class="container mt-5">
      <% if (user.discriminator==="0" ) { %>
      <h1><%= t.pages.admin_greeting.replace('{username}', user.username) %></h1>
      <p><%= t.pages.admin_welcome_message %></p>
      <% } else { %>
      <h1><%= t.pages.admin_greeting.replace('{username}', `${user.username}#${user.discriminator}`) %></h1>
      <p><%= t.pages.admin_welcome_message %></p>
      <% } %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="dashboard-card">
            <h2><%= t.sections.whats_new %> (v<%= version %>)</h2>
            <p>
              <%= versionnotes %>
            </p>
          </div>
        </div>
        <div class="dashboard-card">
          <h2><%= t.sections.instance_info %></h2>
          <p>
            <table style="border: 1;">
              <tbody>
              <tr>
              <td><%= t.instance_info.app_name %>: </td>
              <td><%= appname %></td>
              </tr>
              <tr>
              <td><%= t.instance_info.app_version %>:</td>
              <td><%= version %></td>
              </tr>
              <td><%= t.instance_info.host_os %>:</td>
              <td><%= ostype %></td>
              </tr>
              <td><%= t.instance_info.host_os_version %>:</td>
              <td><%= osrelase %></td>
              </tr>
              <td><%= t.instance_info.host_name %>:</td>
              <td><%= oshostname %></td>
              </tr>
              </tbody>
              </table>
          </p>
        </div>
      </div>
        <div class="col-12 col-md-6">
          <div class="popular-links-card">
            <h2><%= t.sections.resources %></h2>
            <div class="popular-links">
              <a href="https://github.com/Crujera27/logitools" class="popular-link">GitHub</a>
              <a href="https://github.com/Crujera27/logitools" class="popular-link"><%= t.sections.documentation %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../inc/footer.ejs') %>
  </body>
</html>