<!DOCTYPE html>
<html>

<head>
    <title>
        <%= app.dashboard_name %> - Gestor de usuarios
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <%- include('../inc/admin-navbar.ejs') %>
    <div class="container mt-5">
        <h1>Gestor de usuarios</h1>
        <div class="search-container mt-3 mb-3">
            <input type="text" id="live-search" class="form-control" placeholder="Buscar usuario por ID o nombre">
        </div>
        <table id="user-table" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Es staff</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) => { %>
                <tr>
                    <td style="color: white;"><%= user.discord_id %></td>
                    <td style="color: white;"><%= user.username %></td>
                    <td style="color: white;"><%= user.isStaff %></td>
                    <td>
                        <a href="/admin/staffmanager/id/<%= user.discord_id %>" class="btn btn-secondary">Ficha</a>
                        <a href="/admin/removestaff/<%= user.discord_id %>" class="btn btn-primary">Eliminar datos</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <%- include('../inc/footer.ejs') %>
</body>
<script src="/public/js/search-user.js"></script>
</html>
