<!DOCTYPE html>
<html>

<head>
    <title>
        <%= app.dashboard_name %> - <%= t.pages.staff_profile %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <%- include('../inc/admin-navbar.ejs') %>
    <div class="container mt-5">
        <h1><%= t.pages.staff_profile %></h1>

        <div class="user-info-container mt-3">
            <h3><%= t.staff_profile.id %>: <%= staff.discord_id %></h3>
            <h3><%= t.staff_profile.name %>: <%= staff.username %></h3>
            <h3><%= t.staff_profile.rank %>: <%= staff.staffrank %></h3>
            <h3><%= t.staff_profile.creation_date %>: <%= new Date(staff.created_at).toLocaleString() %></h3>
            <h3><%= t.staff_profile.is_admin %>: <%= staff.isAdmin ? t.staff_profile.yes : t.staff_profile.no %></h3>
            <h3><%= t.staff_profile.status %>: <%= staff.banned ? t.staff_profile.status_suspended : t.staff_profile.status_active %></h3>
            <form action="/admin/staffmanager/setrank/<%= staff.discord_id %>" method="post" class="mt-3">
                <div class="form-group">
                    <label for="staffRank"><%= t.staff_profile.new_rank %>:</label>
                    <input type="text" class="form-control" id="staffRank" name="staffRank" placeholder="<%= t.staff_profile.new_rank_placeholder %>">
                </div>
                <button type="submit" class="btn btn-secondary"><%= t.staff_profile.update_rank %></button>
            </form>
            <% if (user.discord_id !== staff.discord_id) { %>
                <form action="<%= staff.isAdmin ? '/admin/staffmanager/removeadmin/' + staff.discord_id : '/admin/staffmanager/addadmin/' + staff.discord_id %>" method="post" class="mt-3">
                    <button type="submit" class="btn btn-danger">
                        <%= staff.isAdmin ? t.staff_profile.remove_admin : t.staff_profile.make_admin %>
                    </button>
                </form>
                <% if (staff.banned) { %>
                    <form action="/admin/staffmanager/unsuspend/<%= staff.discord_id %>" method="post" class="mt-3">
                        <button type="submit" class="btn btn-primary"><%= t.staff_profile.unsuspend %></button>
                    </form>
                <% } else { %>
                    <form action="/admin/staffmanager/suspend/<%= staff.discord_id %>" method="post" class="mt-3">
                        <button type="submit" class="btn btn-primary"><%= t.staff_profile.suspend %></button>
                    </form>
                <% } %>
                <% if (!staff.hideInStaff) { %>
                    <form action="/admin/staffmanager/hidestaff/<%= staff.discord_id %>" method="post" class="mt-3">
                        <button type="submit" class="btn btn-primary"><%= t.staff_profile.hide_user %></button>
                    </form>
                <% } else { %>
                    <form action="/admin/staffmanager/unhidestaff/<%= staff.discord_id %>" method="post" class="mt-3">
                        <button type="submit" class="btn btn-primary"><%= t.staff_profile.unhide_user %></button>
                    </form>
                <% } %>                
            <% } %>
            <% if (user.discord_id !== staff.discord_id) { %>
                <form action="/admin/staffmanager/removestaff/<%= staff.discord_id %>" method="post" class="mt-3">
                    <button type="submit" class="btn btn-danger"><%= t.staff_profile.remove_staff %></button>
                </form>
            <% } %>
        </div>

        <div class="back-button-container mt-3">
            <a href="/admin/staffmanager" class="btn btn-primary"><%= t.staff_profile.back_to_manager %></a>
        </div>
    </div>
    <%- include('../inc/footer.ejs') %>
    <!-- Bootstrap and jQuery Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>