<!DOCTYPE html>
<html>
  <head>
    <title><%= app.dashboard_name %> - <%= t.pages.error %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <%- include('./inc/navbar.ejs') %>
    <div class="container mt-5">
        <h1><%= t.pages.error %></h1>
        <h4><%= error %></h4>
    </div>
    <%- include('./inc/footer.ejs') %>
  </body>
</html>