<!DOCTYPE html>
<html>

<head>
    <title>Logikk's Dashboard - Mi historial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="../public/js/video.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./inc/navbar.ejs') %>
        <div class="container">
            <h2 class="text-center mb-4">Mi historial</h2>
            <% if (userhistory.length> 0) { %>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo de sanción</th>
                            <th scope="col">Razón de la sanción</th>
                            <th scope="col">Emitido por</th>
                            <th scope="col">Emitido en</th>
                            <th scope="col">En vigor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% userhistory.forEach((punishment)=> { %>
                            <tr class="
                            <%= (punishment.punishment_type === 'warn_mild') ? 'warn-mild' :
                               (punishment.punishment_type === 'warn_middle') ? 'warn-middle' :
                               (punishment.punishment_type === 'warn_severe') ? 'warn-severe' :
                               (punishment.punishment_type === 'timeout') ? 'timeout' :
                               (punishment.punishment_type === 'ban') ? 'ban' : '' %>
                            <%= punishment.expired ? 'expired' : '' %>">
                                <td>
                                    <%= punishment.id %>
                                </td>
                                <td>
                                    <% if (punishment.punishment_type==='warn_mild' ) { %>
                                        Advertencia leve
                                        <% } else if (punishment.punishment_type==='warn_middle' ) { %>
                                            Advertencia media
                                            <% } else if (punishment.punishment_type==='warn_severe' ) { %>
                                                Advertencia grave
                                                <% } else if (punishment.punishment_type==='timeout' ) { %>
                                                    Timeout
                                                    <% } else if (punishment.punishment_type==='ban' ) { %>
                                                        Ban
                                                        <% } else { %>
                                                            <%= punishment.punishment_type %>
                                                                <% } %>
                                </td>
                                <td>
                                    <%= punishment.punishment_reason %>
                                </td>
                                <td>
                                    <%= punishment.punishment_issuer %>
                                </td>
                                <td>
                                    <%= punishment.issue_date.toLocaleString() %>
                                </td>
                                <td>
                                    <% if (punishment.expired===0) { %>
                                        Vigente
                                        <% } else { %>
                                            Expirado
                                            <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                    &nbsp;
                    <p>No hay ningún registro en tu historial.</p>
                    <% } %>
        </div>
        <%- include('./inc/footer.ejs') %>
</body>


</html>