<!DOCTYPE html>
<html lang="<%= app.login_page.lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="<%= app.login_page.html_description %>">
    <meta name="keywords" content="<%= app.login_page.keywords %>">
    <meta name="author" content="<%= app.login_page.author %>">
    <meta property="og:title" content="<%= app.login_page.og_title %>">
    <meta property="og:description"
        content="<%= app.login_page.og_description %>">
    <meta property="og:image" content="<%= app.login_page.og_image %>">
    <meta property="og:url" content="<%= app.login_page.og_url %>">
    <meta property="og:type" content="website">
    <title><%= app.dashboard_name %> - <%= t.login.title %></title>
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="photo-section">
            <img src="/public/img/<%= app.logo_url %>" alt="Logikk's Dashboard Image">
        </div>
        <div class="login-section">
            <h1><%= app.dashboard_name %></h1>
            <h2 class="subtitle"><%= t.login.subtitle %></h2>
            <a href="/auth/discord" class="discord-button">
                <i class="fa-brands fa-discord discord-icon"></i>
                <span><%= t.login.login_with_discord %></span>
            </a>
            <small>
                <h5><%= t.login.privacy_terms %> <a href="/public/legal/Política de Privacidad.pdf"><%= t.login.privacy_policy %></a> <%= t.login.and %> <a href="/public/legal/Términos de Servicio.pdf"><%= t.login.terms_of_service %></a></h5>
            </small>
        </div>
    </div>
    <footer>
        <% if (!devVersion) { %>
            <p>⚠️ <%= t.login.dev_warning %> <a href="https://crujera.galnod.com">Crujera</a></p>
            <p>⚠️ <%= t.login.dev_unstable %></p>
        <% } else { %>
            <p><i><small>Logitools v.<%= version %> <%= t.login.developed_by %> <a href="https://crujera.galnod.com">Crujera</a></small></i></p>
        <% } %>
    </footer>
</body>
<script type="text/javascript" id="cookiebanner"
    src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js" data-height="20px"
    data-position="top" data-message="<%= t.login.cookies_message %>">
</script>

</html>