<!DOCTYPE html>
<html>
  <head>
    <title><%= app.dashboard_name %> - <%= t.pages.suspended_account %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="../public/js/popup-manager.js"></script>
    <script src="../public/js/video.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <%- include('./inc/navbar.ejs') %>
    <div class="container mt-5">
        <h1><%= t.pages.suspended_account %></h1>
        <h4><%= t.pages.suspended_message %></h4>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>