<!DOCTYPE html>
<html>
  <head>
    <title><%= app.dashboard_name %> - Portal de staffs</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <%- include('../inc/staff-navbar.ejs') %>
    <div class="container mt-5">
      <% if (user.discriminator==="0" ) { %>
      <h1>¡Hola, <%= user.username %>!</h1>
      <p>
        Estás en el portal de staffs, puedes navegar por ella o utilizar la
        barra superior para acceder a más recuros o salir de esta zona en las
        opciones de usuario.
      </p>
      <% } else { %>
      <h1>¡Hola, <%= user.username %>#<%= user.discriminator %>!</h1>
      <p>
        Estás en el portal de staffs, puedes navegar por ella o utilizar la
        barra superior para acceder a más recuros o salir de esta zona en las
        opciones de usuario.
      </p>
      <% } %>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="popular-links-card">
      <h2>Recursos</h2>
      <div class="popular-links">
        <a href="https://github.com/Crujera27/logitools" class="popular-link"
          >GitHub</a
        >
        <a href="https://github.com/Crujera27/logitools" class="popular-link"
          >Documentación</a
        >
      </div>
    </div>
  </div>
    <%- include('../inc/footer.ejs') %>
  </body>
</html>
